@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    font-family: Roboto Mono;
    margin: 0px;
    background: #2f343f;
  }

p.normal {
    font-style: normal;
    color: #fff;
    font-size: 20px;
}

h1.undertitle {
    font-style: normal;
    color: #fff;
    font-style: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}

h1.title {
    font-style: bold;
    color: #fff;
    font-size: 56px;
    text-align: center;
    margin: 50px;
}

.column1 {   
    padding: 15px;
    max-width: 285px;
    min-height: 185px;
    margin-left: auto;
    margin-right: auto;
    background-color: #404552;
    border-radius: 5px;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
  }