@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    font-family: Roboto Mono;
    margin: 0px;
    background: #2f343f;
  }

p.normal {
    font-style: normal;
    color: #fff;
    font-size: 20px;
}

h1.undertitle {
    font-style: normal;
    color: #fff;
    font-style: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}

h1.title {
    color: #fff;
    font-size: 56px;
    text-align: center;
    margin-top: 10%;
    margin: 50px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topcell {
    width: 30%;
    background-color: #404552;
    padding: 1em;
    border-radius: 3px;
    font-family: "Roboto Mono";
    color: #fff;
    text-align: center;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cell-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 1em 0em;
}

.cell-set{
    padding: 1em;
    background-color: #404552;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    width: 25%;
    height: 10em;
    margin: 0em .5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lower-cell-set{
    padding: 1em;
    background-color: #404552;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    width: 25%;
    height: 2em;
    margin: 0em .5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}