.cell, .page {
  background-color: $box-layer-one;
  padding: $small-padding;
  border-radius: $small-bradius;
  box-shadow: $small-shadow;
  font-size: 1.25rem;

  // When a cell is in a another cell
  .cell {
    background-color: $box-layer-two;
  }

  &.button, &.icon-button {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    border: none;
    outline: none;
    transition: all 0.3s;
    color: $text-primary;

    &:hover {
      background-color: $button-hover;
      box-shadow: $hover-shadow;
    }

    &:active {
      background-color: $button-active;
      box-shadow: $active-shadow;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  h2 {
    display: block;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: $small-padding;
  }
}

.page {
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: $large-bradius;
  box-shadow: $page-shadow;
  padding: $large-padding;
  display: grid;
  grid-template-columns: auto 35px;
  grid-template-rows: 35px auto;
  grid-row-gap: $large-padding;
  transition: opacity 0.2s, top 0.2s;

  & > h2 {
    text-align: left;
    line-height: 35px;
    padding-bottom: 0;
  }

  & > .page-close {
    cursor: pointer;

    .material-design-icon, .material-design-icon__svg {
      height: 100%;
      width: 100%;
    }
  }

  & > .content {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    top: calc(50% + 15px);
  }

  @media screen and (max-width: $mobile-break) {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}