.text-dark-red {
  color: $dark-red;
}

.text-red {
  color: $red;
}

.text-gold {
  color: $gold;
}

.text-yellow {
  color: $yellow;
}

.text-dark-green {
  color: $dark-green;
}

.text-green {
  color: $green;
}

.text-aqua {
  color: $aqua;
}

.text-dark-aqua {
  color: $dark-aqua;
}

.text-dark-blue {
  color: $dark-blue;
}

.text-blue {
  color: $blue;
}

.text-light-purple {
  color: $light-purple;
}

.text-dark-purple {
  color: $dark-purple;
}

.text-gray {
  color: $gray;
}

.text-dark-gray {
  color: $dark-gray;
}

.text-black {
  color: $black;
}