// General
$font-family: 'Roboto mono', monospace;
$mobile-break: 1300px;

// Cell variables
$small-padding: 12px;
$large-padding: 16px;
$small-bradius: 5px;
$large-bradius: 15px;
$small-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$hover-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
$active-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
$page-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
$box-margin: 12px;

// Colors
$background-color:  #2F343F;
$background-grafic: rgba(255, 255, 255, 0.03);
$box-layer-one:     #404552;
$box-layer-two:     #3B3F4B;
$button-hover:      scale-color($box-layer-one, $lightness: 10%);
$button-active:     scale-color($box-layer-one, $lightness: 15%);
$text-primary:      #FFFFFF;
$dark-red:          #AA0000;
$red:               #FF5555;
$gold:              #FFA36F;
$yellow:            #FFFF55;
$dark-green:        #00AA00;
$green:             #7EFF69;
$aqua:              #55FFFF;
$dark-aqua:         #00AAAA;
$dark-blue:         #0000AA;
$blue:              #5555FF;
$light-purple:      #FF55FF;
$dark-purple:       #AA00AA;
$gray:              #AAAAAA;
$dark-gray:         #555555;
$black:             #000000;