@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap");
.text-dark-red {
  color: #AA0000;
}

.text-red {
  color: #FF5555;
}

.text-gold {
  color: #FFA36F;
}

.text-yellow {
  color: #FFFF55;
}

.text-dark-green {
  color: #00AA00;
}

.text-green {
  color: #7EFF69;
}

.text-aqua {
  color: #55FFFF;
}

.text-dark-aqua {
  color: #00AAAA;
}

.text-dark-blue {
  color: #0000AA;
}

.text-blue {
  color: #5555FF;
}

.text-light-purple {
  color: #FF55FF;
}

.text-dark-purple {
  color: #AA00AA;
}

.text-gray {
  color: #AAAAAA;
}

.text-dark-gray {
  color: #555555;
}

.text-black {
  color: #000000;
}

.text-dark-red {
  color: #AA0000;
}

.text-red {
  color: #FF5555;
}

.text-gold {
  color: #FFA36F;
}

.text-yellow {
  color: #FFFF55;
}

.text-dark-green {
  color: #00AA00;
}

.text-green {
  color: #7EFF69;
}

.text-aqua {
  color: #55FFFF;
}

.text-dark-aqua {
  color: #00AAAA;
}

.text-dark-blue {
  color: #0000AA;
}

.text-blue {
  color: #5555FF;
}

.text-light-purple {
  color: #FF55FF;
}

.text-dark-purple {
  color: #AA00AA;
}

.text-gray {
  color: #AAAAAA;
}

.text-dark-gray {
  color: #555555;
}

.text-black {
  color: #000000;
}

.cell, .page {
  background-color: #404552;
  padding: 12px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.25rem;
}

.cell .cell, .page .cell {
  background-color: #3B3F4B;
}

.cell.button, .cell.icon-button, .page.button, .page.icon-button {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #FFFFFF;
}

.cell.button:hover, .cell.icon-button:hover, .page.button:hover, .page.icon-button:hover {
  background-color: #505666;
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.cell.button:active, .cell.icon-button:active, .page.button:active, .page.icon-button:active {
  background-color: #585f71;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.cell.button img, .cell.icon-button img, .page.button img, .page.icon-button img {
  width: 100%;
  height: 100%;
}

.cell h2, .page h2 {
  display: block;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 12px;
}

.page {
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px;
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  padding: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 35px;
      grid-template-columns: auto 35px;
  -ms-grid-rows: 35px auto;
      grid-template-rows: 35px auto;
  grid-row-gap: 16px;
  -webkit-transition: opacity 0.2s, top 0.2s;
  transition: opacity 0.2s, top 0.2s;
}

.page > h2 {
  text-align: left;
  line-height: 35px;
}

.page > .page-close {
  cursor: pointer;
}

.page > .page-close img {
  height: 100%;
  width: 100%;
}

.page > .content {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.page.hidden {
  opacity: 0;
  pointer-events: none;
  top: calc(50% + 15px);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  font-family: "Roboto mono", monospace;
  color: #FFFFFF;
  background: #2f343f;
  background-image: url("../assets/worldmap.svg");
  background-size: 300%;
  background-position-x: center;
  background-position-y: 30%;
}

p {
  font-style: normal;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  line-height: 150px;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offline-message {
  font-size: 3em;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[3];
      grid-template-columns: repeat(3, 400px);
  -ms-grid-rows: 150px 75px fit-content(350px) 75px;
      grid-template-rows: 150px 75px fit-content(350px) 75px;
  grid-gap: 24px;
}

.container h1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.container .ip-cell {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  cursor: pointer;
}

.container .discord-button, .container .chat-button {
  width: 75px;
}

.container .discord-button {
  -ms-grid-column-align: end;
      justify-self: end;
}

.container .dynmap-button, .container .ip-cell {
  line-height: 51px;
}

.container .last-online-cell p .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toast {
  border-radius: 5px;
  padding: 18px;
  font-size: 1.5rem;
  background-color: #2F343F;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFFFFF;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.toast.hidden {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  pointer-events: none;
}

.dynmap-page .content {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dynmap-page .content .dynmap-frame {
  border-radius: 5px;
}

@media screen and (max-width: 1300px) {
  #app {
    display: block;
    padding: 16px;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 0;
  }
  .container > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 6px 0;
  }
  .container .discord-button, .container .chat-button {
    -ms-flex-preferred-size: 75px;
        flex-basis: 75px;
  }
  .container .dynmap-button {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 6px 12px;
  }
  .page {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}
/*# sourceMappingURL=main.css.map */