@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');
@import 'colors';
@import 'cell';

$font-family: 'Roboto mono', monospace;

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  font-family: $font-family;
  color: $text-primary;
  background: #2f343f;
  background-image: url("../assets/worldmap.svg");
  background-size: 300%;
  background-position-x: center;
  background-position-y: 30%;
}

p {
  font-style: normal;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $text-primary;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  line-height: 150px;
  margin: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offline-message {
  font-size: 3em;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 150px 75px fit-content(350px) 75px;
  grid-gap: $box-margin * 2;

  h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    order: -3;
  }

  .ip-cell {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 50%;
    justify-self: center;
    text-align: center;
    cursor: pointer;
    order: -2;
  }

  .discord-button, .chat-button {
    width: 75px;
  }

  .discord-button {
    justify-self: end;
  }

  .dynmap-button, .ip-cell {
    line-height: 75px - $small-padding * 2;
  }

  .last-online-cell p .player {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &.status-shown {
    padding-bottom: 128px;
  }
}

.toast {
  border-radius: $small-bradius;
  padding: $small-padding * 1.5;
  font-size: 1.5rem;
  background-color: $background-color;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $text-primary;
  transition: opacity 0.2s;

  &.hidden {
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
  }
}

.dynmap-page .content {
  box-shadow: $small-shadow;

  .dynmap-frame {
    border-radius: $small-bradius;
  }
}

.minecraft-status {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $box-layer-one;
  margin: 0;
  padding: 0 24px;
  font-size: 1.25em;

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  li {
    line-height: 52px;
    white-space: nowrap;

    .indicator {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;

      &.indicator-green {
        background-color: $green;
      }

      &.indicator-yellow {
        background-color: $yellow;
      }

      &.indicator-red {
        background-color: $red;
      }
    }
  }

  h2 {
    display: none;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: $small-padding;
  }
}

@media screen and (max-width: 1300px) {
  #app {
    display: block;
    padding: 16px;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 0;

    & > * {
      flex-basis: 100%;
      margin: $box-margin/2 0;
    }

    .discord-button, .chat-button {
      flex-basis: 75px;
    }

    .dynmap-button {
      flex-basis: unset;
      flex-grow: 1;
      margin: $box-margin/2 $box-margin;
    }

    &.status-shown {
      padding-bottom: 0;
    }
  }

  .page {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .minecraft-status {
    position: static;
    padding: $small-padding;
    border-radius: $small-bradius;
    box-shadow: $small-shadow;
    order: -1;

    h2 {
      display: block;
    }

    ul {
      display: block;

      li {
        line-height: 1.15;
      }
    }
  }
}